/* line 9, ../app/assets/stylesheets/animations.scss */
#topPromo {
  position: relative;
  overflow: hidden;
}

/* line 10, ../app/assets/stylesheets/animations.scss */
#topPromo ul li {
  list-style-type: none;
}

/* line 12, ../app/assets/stylesheets/animations.scss */
#topPromo #clouds {
  position: absolute;
  top: 0px;
  z-index: 5;
}

/* line 14, ../app/assets/stylesheets/animations.scss */
#topPromo #cloud-group-1 {
  width: 960px;
  position: absolute;
  left: 0px;
  -webkit-animation: cloud-group-1-animation 30s infinite linear;
  -moz-animation: cloud-group-1-animation 30s infinite linear;
  -o-animation: cloud-group-1-animation 30s infinite linear;
  -ms-animation: cloud-group-1-animation 30s infinite linear;
  animation: cloud-group-1-animation 30s infinite linear;
}

/* line 18, ../app/assets/stylesheets/animations.scss */
#topPromo #cloud-group-2 {
  width: 960px;
  position: absolute;
  left: 960px;
  -webkit-animation: cloud-group-2-animation 30s infinite linear;
  -moz-animation: cloud-group-2-animation 30s infinite linear;
  -o-animation: cloud-group-2-animation 30s infinite linear;
  -ms-animation: cloud-group-2-animation 30s infinite linear;
  animation: cloud-group-2-animation 30s infinite linear;
  /* @include animation('cloud-group-2-animation 30s infinite linear'); */
}

/* line 24, ../app/assets/stylesheets/animations.scss */
#topPromo #cloud-group-3 {
  width: 960px;
  position: absolute;
  left: 960px;
  -webkit-animation: cloud-group-3-animation 59s infinite linear;
  -moz-animation: cloud-group-3-animation 59s infinite linear;
  -o-animation: cloud-group-3-animation 59s infinite linear;
  -ms-animation: cloud-group-3-animation 59s infinite linear;
  animation: cloud-group-3-animation 59s infinite linear;
}

/* line 29, ../app/assets/stylesheets/animations.scss */
#topPromo .cloud-1 {
  width: 180px;
  height: 112px;
  background-image: url(../images/ad/cloud-1-shaded.png);
  position: absolute;
  top: 10px;
  left: 40px;
  -webkit-animation: cloud-1-animation 15s infinite ease-in-out;
  -moz-animation: cloud-1-animation 15s infinite ease-in-out;
  -o-animation: cloud-1-animation 15s infinite ease-in-out;
  -ms-animation: cloud-1-animation 15s infinite ease-in-out;
  animation: cloud-1-animation 15s infinite ease-in-out;
  -webkit-animation: cloud-1-roNanimation 2s infinite ease-in-out;
  -moz-animation: cloud-1-roNanimation 2s infinite ease-in-out;
  -o-animation: cloud-1-roNanimation 2s infinite ease-in-out;
  -ms-animation: cloud-1-roNanimation 2s infinite ease-in-out;
  animation: cloud-1-roNanimation 2s infinite ease-in-out;
  z-index: 5;
}

/* line 40, ../app/assets/stylesheets/animations.scss */
#topPromo .cloud-2 {
  width: 128px;
  height: 83px;
  background-image: url(../images/ad/cloud-2-shaded.png);
  position: absolute;
  top: -25px;
  left: 300px;
  -webkit-animation: cloud-2-animation 30s infinite ease-in-out;
  -moz-animation: cloud-2-animation 30s infinite ease-in-out;
  -o-animation: cloud-2-animation 30s infinite ease-in-out;
  -ms-animation: cloud-2-animation 30s infinite ease-in-out;
  animation: cloud-2-animation 30s infinite ease-in-out;
  -webkit-animation: cloud-2-roNanimation 2s infinite ease-in-out;
  -moz-animation: cloud-2-roNanimation 2s infinite ease-in-out;
  -o-animation: cloud-2-roNanimation 2s infinite ease-in-out;
  -ms-animation: cloud-2-roNanimation 2s infinite ease-in-out;
  animation: cloud-2-roNanimation 2s infinite ease-in-out;
  z-index: 5;
}

/* line 51, ../app/assets/stylesheets/animations.scss */
#topPromo .cloud-3 {
  width: 161px;
  height: 120px;
  background-image: url(../images/ad/cloud-3-shaded.png);
  position: absolute;
  top: -5px;
  left: 530px;
  -webkit-animation: cloud-3-roNanimation 2s infinite ease-in-out;
  -moz-animation: cloud-3-roNanimation 2s infinite ease-in-out;
  -o-animation: cloud-3-roNanimation 2s infinite ease-in-out;
  -ms-animation: cloud-3-roNanimation 2s infinite ease-in-out;
  animation: cloud-3-roNanimation 2s infinite ease-in-out;
  z-index: 5;
}

/* line 61, ../app/assets/stylesheets/animations.scss */
#topPromo .cloud-4 {
  width: 102px;
  height: 141px;
  background-image: url(../images/ad/rabbit-shaded.png);
  position: absolute;
  top: 5px;
  left: 832px;
  -webkit-animation: cloud-4-roNanimation 3s infinite ease-in-out;
  -moz-animation: cloud-4-roNanimation 3s infinite ease-in-out;
  -o-animation: cloud-4-roNanimation 3s infinite ease-in-out;
  -ms-animation: cloud-4-roNanimation 3s infinite ease-in-out;
  animation: cloud-4-roNanimation 3s infinite ease-in-out;
  z-index: 5;
}

/* line 72, ../app/assets/stylesheets/animations.scss */
#fstvlLogo {
  background: url("../images/ad/fstvl-logo.png") no-repeat scroll 0 0 transparent;
  height: 100px;
  left: 39%;
  position: absolute;
  top: 15px;
  width: 250px;
  z-index: 10;
  -webkit-animation: logo-animation 10s infinite ease-in-out;
  -moz-animation: logo-animation 10s infinite ease-in-out;
  -o-animation: logo-animation 10s infinite ease-in-out;
  -ms-animation: logo-animation 10s infinite ease-in-out;
  animation: logo-animation 10s infinite ease-in-out;
  /* @include animationCallPrefix('logo-animation2 30s infinite ease-in-out');	 */
}

/* logo */
@-moz-keyframes logo-animation {
  /* line 81, ../app/assets/stylesheets/animations.scss */
  0% {
    -moz-transform: scale(1, 1);
  }

  /* line 82, ../app/assets/stylesheets/animations.scss */
  96% {
    -moz-transform: scale(1, 1);
  }

  /* line 83, ../app/assets/stylesheets/animations.scss */
  98% {
    -moz-transform: scale(1.1, 1.1);
  }

  /* line 84, ../app/assets/stylesheets/animations.scss */
  100% {
    -moz-transform: scale(1, 1);
  }
}

@-moz-keyframes logo-animation2 {
  /* line 88, ../app/assets/stylesheets/animations.scss */
  0% {
    top: 15px;
  }

  /* line 89, ../app/assets/stylesheets/animations.scss */
  49% {
    top: 15px;
  }

  /* line 90, ../app/assets/stylesheets/animations.scss */
  50% {
    top: 250px;
  }

  /* line 91, ../app/assets/stylesheets/animations.scss */
  99% {
    top: 250px;
  }

  /* line 92, ../app/assets/stylesheets/animations.scss */
  100% {
    top: 15px;
  }
}

/* FireFox Animations */
@-moz-keyframes cloud-group-1-animation {
  /* line 98, ../app/assets/stylesheets/animations.scss */
  0% {
    left: 0px;
  }

  /* line 99, ../app/assets/stylesheets/animations.scss */
  99.9999% {
    left: -960px;
  }

  /* line 100, ../app/assets/stylesheets/animations.scss */
  100% {
    left: 0px;
  }
}

@-moz-keyframes cloud-group-2-animation {
  /* line 103, ../app/assets/stylesheets/animations.scss */
  0% {
    left: 960px;
  }

  /* line 104, ../app/assets/stylesheets/animations.scss */
  99.9999% {
    left: 0px;
  }

  /* line 105, ../app/assets/stylesheets/animations.scss */
  100% {
    left: 960px;
  }
}

@-moz-keyframes cloud-group-3-animation {
  /* line 108, ../app/assets/stylesheets/animations.scss */
  0% {
    left: 960px;
  }

  /* line 109, ../app/assets/stylesheets/animations.scss */
  100% {
    left: -950px;
  }
}

@-moz-keyframes cloud-1-animation {
  /* line 117, ../app/assets/stylesheets/animations.scss */
  0% {
    top: 0px;
  }

  /* line 118, ../app/assets/stylesheets/animations.scss */
  50% {
    top: 10px;
  }

  /* line 119, ../app/assets/stylesheets/animations.scss */
  100% {
    top: 0px;
  }
}

@-moz-keyframes cloud-2-animation {
  /* line 123, ../app/assets/stylesheets/animations.scss */
  0% {
    top: -25px;
  }

  /* line 124, ../app/assets/stylesheets/animations.scss */
  50% {
    top: 10px;
  }

  /* line 125, ../app/assets/stylesheets/animations.scss */
  100% {
    top: -25px;
  }
}

@-moz-keyframes cloud-1-roNanimation {
  /* line 131, ../app/assets/stylesheets/animations.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 132, ../app/assets/stylesheets/animations.scss */
  50% {
    -moz-transform: rotate(3deg);
  }

  /* line 133, ../app/assets/stylesheets/animations.scss */
  100% {
    -moz-transform: rotate(0deg);
  }
}

@-moz-keyframes cloud-2-roNanimation {
  /* line 136, ../app/assets/stylesheets/animations.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 137, ../app/assets/stylesheets/animations.scss */
  50% {
    -moz-transform: rotate(8deg);
  }

  /* line 138, ../app/assets/stylesheets/animations.scss */
  100% {
    -moz-transform: rotate(0deg);
  }
}

@-moz-keyframes cloud-3-roNanimation {
  /* line 141, ../app/assets/stylesheets/animations.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 142, ../app/assets/stylesheets/animations.scss */
  50% {
    -moz-transform: rotate(4deg);
  }

  /* line 143, ../app/assets/stylesheets/animations.scss */
  100% {
    -moz-transform: rotate(0deg);
  }
}

@-moz-keyframes cloud-4-roNanimation {
  /* line 146, ../app/assets/stylesheets/animations.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 147, ../app/assets/stylesheets/animations.scss */
  50% {
    -moz-transform: rotate(8deg);
  }

  /* line 148, ../app/assets/stylesheets/animations.scss */
  100% {
    -moz-transform: rotate(0deg);
  }
}
