/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* @group global reset */
*{border:none;margin:0;padding:0;}
a,a img{border:none;text-decoration:none;outline:none;}
input,textarea,button{outline:none;resize:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
/* @end */

a { color: #1c8ef0;  }
a:hover { color: #55a9f1; }
a:active { color: #126cba; }
a#logo { color: #ff003c; font-family: "bello-caps"; float: left; font-size: 4em; top: 7px; padding-left: 0; left: 2px;}
a#logo:hover { background: none;  }
h1 { font: 28px; color: #222; }
h2 { color: #333333; font-size: 1em; font-weight: bold; margin: 31px 10px 8px 0; text-shadow: 0 0 0 #FFFFFF; }
h3 { color: #333333; font-size: 1.7em; font-weight: bold; margin: 10px 0 0 0; text-shadow: 0 0 0 #FFFFFF; }

.hidden { display: none; } 

html {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body { background-color: #fff; color: #333; font-family: 'ff-meta-web-pro','helvetica',sans-serif; font-size: 13px; line-height: 18px;  color: #78787b; }
body > header { background: #1e1f23; border-bottom: 1px solid #bbb; }
#content { position: relative; width: 960px; margin: 0 auto; clear: both; }
footer { border-top: 1px solid #ddd; width: 960px; padding: 0 15px; margin: 19px auto 0; clear: both; }

/* @group navigation */

header nav {
	text-align: right;
	width: 970px;
	height: 55px;
	margin: 0 auto;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	user-select: none;
}

header nav a {
	position: relative;
	line-height: 15px;
	color: #fff ;
	text-shadow: 1px 1px 0 #000;
	text-align: right;
	height: 29px;
	padding: 13px 15px;
	float: right;
	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}

header nav a:hover { background: #111; }
header nav a strong { display: block; letter-spacing: 1px; text-transform: uppercase; }
header nav a em { display: block; font-style: normal; }


#content .row { float: left; margin-right: 30px; width: 168px; margin-bottom: 12px; font-size: 0.7em; color: #78787B;}
#content .row:nth-child(5n+5) { margin-right: 0px; }
#content .row img { border: 1px solid #E5E5E5; border-radius: 3px; padding: 4px; width: 172px; }
#content .row .festImage { float: left; }
#content .row .dates {}
#content .row .place {}
