<div id="actsPage">
	<h2>Acts</h2>
	
	<div class="col">
	<% @groupedActs.each_with_index do |group,i| %>
	
			<ul class="acts">
				<li class="header"><%= group[0] %></li>
				<% group[1].each_with_index do |t,i| %>
					<li><%= link_to t.name, t %></li>		
				<% end %>
			</ul>	
		<% if i%5 == 2; %>
			</div><div class="col">
		<% end %>	
			
	<% end %>
	</div>	
</div>